# Maven / Java
target/
*.class
*.jar
*.war

# IntelliJ IDEA / Eclipse / VSCode settings
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs and temp files
*.log
*.tmp

# Python
__pycache__/
*.pyc
.env
venv/
env/
*.egg-info/

# Docker
*.env

# OS files
.DS_Store
Thumbs.db

# Other
*.swp
*.csv
resources/data/unzipped/
backend-java/src/main/resources/creditcard.zip
